.header {
    color: #F39C75;
    background-color: #F3E9CC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-block: 5px;
}

.header img {
    display: block;
    width: 10%;
    border-radius: 50%;
}